@font-face {
    font-family: 'BEBAS';
    src: url(../font/BEBAS___.ttf);
    font-weight:400;
}

@font-face {
    font-family: 'NeonGlow';
    src: url(../font/NeonGlow.ttf);
}

@font-face {
    font-family: 'NeonGlow-ie';
    src: url(../font/NeonGlow.eot);
}

@font-face {
    font-family: 'SinkinSans-100Thin';
    src: url(../font/SinkinSans-100Thin.otf);
}