body {
  font-size: 14px;
overflow-x: hidden;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
}
.btn {
  border-radius: 3em;
}
.container {
  max-width: 900px;
}
.container-alternate {
  background: #E9E9E9;
}
.navbar {
  background: #fff;
  padding: 0.3em 0;
}
.navbar .navbar-brand {
  color: #000;
  font-family: georgia, serif;
  font-weight: bold;
}
.navbar ul.nav li a {
  color: #111;
  padding-left: 0;
  padding-right: 0;
  margin: 0 0em 0em 1.2em;
}
.navbar ul.nav li a:hover {
  color: #000;
}
.navbar ul.nav li button {
  margin: 0.7em 0 0 1em;
}
.jumbotron {
  background: #E9E9E9;
  color: #333;
  padding: 7em 0 5em;
  text-align: center;
  margin-bottom: 0;
}
.jumbotron h1 {
  font-family: georgia, serif;
  font-size: 3.5em;
}
.jumbotron h2 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
.jumbotron .btn {
  font-size: 1.2em;
  padding: 0.3em 2.5em 0.5em;
}
.jumbotron .btn .glyphicon {
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}
.subhead {
  font-size: 2em;
  text-align: center;
  margin: 2em 0 0.5em;
}
.benefits {
  margin-bottom: 3em;
}
.benefit {
  margin: 1em 0;
  text-align: center;
}
.benefit .benefit-ball {
  background: #E9E9E9;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}
.benefit .benefit-ball .glyphicon {
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;
}
.benefit h3 {
  font-size: 1.5em;
}
#tour {
  margin: 1em 0 4em;
}
#tour .carousel-inner img {
  height: 100%;
  width: 100%;
}
.faqs {
  margin-bottom: 3em;
}
.faqs p {
  line-height: 1.5em;
  margin: 1.2em 0;
}
.about p {
  line-height: 1.5em;
  margin: 1em 0;
}
.about p:last-child {
  margin-bottom: 4em;
}
footer {
  background: #111;
  color: #fff;
  padding: 1.5em 0 0.8em;
}
@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    /*text-align: center;*/
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu {
    display: block;
 }

  .dropdown-menu {
    max-height: 500px;
  }

  .ddlMulti{
  width: 700px;
  margin-left: -90px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  footer .pull-right {
    display: none;
  }
}


/*-===Custom for GTT===*/
@media(max-width:767px){
  .cellmanText {
    padding-top: 0%;
  }

  .cellmanBtn {
    margin-top: -15%;
    margin-right: 30%;
  }
}
@media(min-width:768px){
  .cellmanText {
    padding-top: 5%;
  }

  .cellmanBtn {
    margin-top: -25%;
    margin-right: 45%;
  }
}
@media(min-width:992px){

}
@media(min-width:1200px){

}


.navbar-brand{
  float: left;
  padding: 0;
  padding-left: 5px;
  width: 100px;
}

.dropdown-menu > li.column-menu ul {
    display: inline-block;
    list-style: none outside none;
    margin: 10px;
    width: 100%;
}
.dropdown-menu > li.column-menu li {
    display: inline;
    float: left;
    width: 100%;
}
.dropdown-menu > li.column-menu:first-child {
    margin-left: 0;
}
 
.dropdown-menu >li.column-menu li:not(:first-child){
margin-left:10px;
}
 
.dropdown-menu > li.column-menu li:first-child {
    font-weight:bold;
    font-size:1.5em;
    color:#340f5a;
}

 .ddlDividerR{
  border-right: 1px solid #ccc;
 }

  .ddlDividerL{
  border-left: 1px solid #ccc;
 }

 .ddlRow{
  margin-left: 0px;
  margin-right: 0px;
 }

 .dropdown-menu {
    /*max-height: 500px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.borderBottom > h4{
  border-bottom: 1px solid #ccc;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

.carousel .item > img {
   min-width: 100%;
   height: auto;
}

.headCarousel {
  padding-top: 54px;
    /*height: 400px;*/
    /*overflow: hidden;*/
}

.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
  margin: 0px 1em;
  width: 1em;
  height: 1em;
}

.carousel-indicators .active {
  background-color: #444;
  margin: 0px 1em;
  width: 1em;
  height: 1em;
}

@font-face {
    font-family: 'GeosansLight';
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}

.carousel-caption {
  font-family: GeosansLight, Helvetica, Arial, sans-serif;
  padding: 0px;
  top: 0%;
  right: -7%;
}

.well-lg {
  padding: 0px;
  background-color: white;
}

.cellman {
  bottom: 0;
  left: -17px;
  width: 35%;
}

.cellmanText {
  position: absolute;
  top: 0px;
  /*padding-top: 5%;*/
  padding-left: 40%;
  padding-right: 1em;
  /*line-height: 1.4;*/
  margin-right: 30px;
}

.cellmanBtn {
  position: relative;
  float: right;
  /*margin-right: 30%;*/
  top: 50%;
  /*margin-top: -15%;*/
}